<!DOCTYPE html>
<html lang="<%= data.settings.site.language %>">
	<head>
		<meta charset="<%= config.encoding %>" />
		<link type="text/css" rel="stylesheet" href="<%= absolute_url('/stylesheets/visual.css') %>" media="print, screen">
		<link type="text/css" rel="stylesheet" href="<%= absolute_url('/stylesheets/print.css') %>" media="print">
		<link type="text/css" rel="stylesheet" href="<%= absolute_url('/stylesheets/screen.css') %>" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= doc_title %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/atom.xml", title: "Atom Feed" %>
<%= partial('layouts/partials/open_graph', locals: { current_article: current_article } ) %>
		<link rel="apple-touch-icon" sizes="180x180" href="<%= absolute_url('/images/icons/favicons/apple-touch-icon.png') %>" />
		<link rel="icon" type="image/png" href="<%= absolute_url('/images/icons/favicons/favicon-32x32.png') %>" sizes="32x32" />
		<link rel="icon" type="image/png" href="<%= absolute_url('/images/icons/favicons/favicon-16x16.png') %>" sizes="16x16" />
		<link rel="manifest" href="<%= absolute_url('/images/icons/favicons/manifest.json') %>" />
		<link rel="mask-icon" href="<%= absolute_url('/images/icons/favicons/safari-pinned-tab.svg') %>" />
		<link rel="shortcut icon" href="<%= absolute_url('/images/icons/favicons/favicon.ico') %>" />
		<meta name="msapplication-config" content="<%= absolute_url('/images/icons/favicons/browserconfig.xml') %>" />
	<body>
  		<a href="#nav_main">Skip to main content</a>
		<div role="banner">
			<dl>
		<% if current_page.path == 'index.xhtml' %>
				<dt property="dcterms:title" lang="ga"><%= data.settings.site.name %></dt>
		<% else %>
				<dt lang="ga-ie"><a href="<%= data.settings.site.base_url %>"><%= data.settings.site.name %></a></dt>
		<% end %>
				<dd
			<% if current_page.path == 'index.xhtml' %>
				 property="dcterms:description"
			<% end %>
				><%= data.settings.site.description %></dd>
			</dl>
			<div role="navigation">
				<ol>
					<li><a href="<%= data.settings.site.base_url %>/" accesskey="1">Home</a></li>
					<li><a href="<%= data.settings.site.base_url %>/archives">Archives</a></li>
					<li><a href="#nav_copyright" accesskey="6">Copyright</a></li>
					<li><a href="#nav_accesskeys" accesskey="k">Access keys</a></li>
					<li><a href="<%= data.settings.site.base_url %><%= blog.options.prefix.to_s %>/atom.xml" rel="alternate" accesskey="f">Web feed</a></li>
					<li><a href="<%= absolute_url('/colophon') %>">Colophon</a></li>
				</ol>
			</div><!--End of ‘navigation’ role-->
		</div><!-- end of ‘banner’ role -->
		<main id="nav_main">
			<h1 property="dcterms:title"><%= current_page.data.title %></h1>
      <%= yield %>
			<%= partial 'layouts/partials/footer' %>
	      </main>
	</body>
</html>