<!DOCTYPE html>
<html lang="<%= data.settings.site.language %>">
	<head>
		<%= stylesheet_link_tag 'visual', :media => 'print, screen', :type => 'text/css', :relative => false %>
		<%= stylesheet_link_tag 'print', :media => 'print', :type => 'text/css', :relative => false %>
		<%= stylesheet_link_tag 'screen', :media => 'screen', :type => 'text/css', :relative => false %>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= doc_title %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/atom.xml", title: "Atom Feed" %>
		<link rel="apple-touch-icon" sizes="57x57" href="<%= data.settings.site.base_url %>/images/icons/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="<%= data.settings.site.base_url %>/images/icons/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="<%= data.settings.site.base_url %>/images/icons/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="<%= data.settings.site.base_url %>/images/icons/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="<%= data.settings.site.base_url %>/images/icons/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="<%= data.settings.site.base_url %>/images/icons/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="<%= data.settings.site.base_url %>/images/icons/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="<%= data.settings.site.base_url %>/images/icons/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="<%= data.settings.site.base_url %>/images/icons/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="<%= data.settings.site.base_url %>/images/icons/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="<%= data.settings.site.base_url %>/images/icons/favicons/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="<%= data.settings.site.base_url %>/images/icons/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="<%= data.settings.site.base_url %>/images/icons/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="<%= data.settings.site.base_url %>/images/icons/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/images/icons/favicons/manifest.json">
		<link rel="mask-icon" href="<%= data.settings.site.base_url %>/images/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/images/icons/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="<%= data.settings.site.base_url %>/images/icons/favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="<%= data.settings.site.base_url %>/images/icons/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	<body>
  		<a href="#nav_main">Skip to main content</a>
		<div role="banner">
			<dl>
		<% if current_page.path == 'index.xhtml' %>
				<dt property="dcterms:title" lang="ga"><%= data.settings.site.name %></dt>
		<% else %>
				<dt lang="ga-ie"><a href="<%= data.settings.site.base_url %>"><%= data.settings.site.name %></a></dt>
		<% end %>
				<dd
			<% if current_page.path == 'index.xhtml' %>
				 property="dcterms:description"
			<% end %>
				><%= data.settings.site.description %></dd>
			</dl>
			<div role="navigation">
				<ol>
					<li><a href="<%= data.settings.site.base_url %>/" accesskey="1">Home</a></li>
					<li><a href="<%= data.settings.site.base_url %>/archives">Archives</a></li>
					<li><a href="#nav_copyright" accesskey="6">Copyright</a></li>
					<li><a href="#nav_accesskeys" accesskey="k">Access keys</a></li>
					<li><a href="<%= data.settings.site.base_url %><%= blog.options.prefix.to_s %>/atom.xml" rel="alternate" accesskey="f">Web feed</a></li>
					<li><a href="<%= data.settings.site.base_url %>/colophon">Colophon</a></li>
				</ol>
			</div><!--End of ‘navigation’ role-->
		</div><!-- end of ‘banner’ role -->
		<main id="nav_main">
			<h1 property="dcterms:title"><%= current_page.data.title %></h1>
      <%= yield %>
			<%= partial 'layouts/partials/footer' %>
	      </main>
	</body>
</html>