<% wrap_layout :layout do %>
<main id="nav_main" typeof="DCMIType:text schema:Article" resource="<%= data.settings.site.base_url %><%= current_article.url %>">
	<header>
		<p class="published-date icon"><time property="dc:created schema:dateCreated schema:datePublished" datetime="<%= current_article.date.strftime("%F") %>"><%= current_article.date.strftime("%A ") + ordinal(current_article.date.strftime("%e")) + current_article.date.strftime("&#160;%B,&#160;%Y") %></time></p>
		<% if File.mtime(current_page.source_file).strftime("%F") > current_article.date.strftime("%F") %>
		<% end %>
		<h1 property="dc:title schema:Headline"><%= current_article.title %></h1>
		<p class="author icon"><%= data.settings.author.name %></p>
		<p class="reading-time icon">Estimated reading time: <%= reading_time(current_article.body) %></p>
		<% if current_article.tags %>
		<dl>
			<dt>Tagged with</dt>
			<% current_article.tags.sort{ |a,b| a.to_s.downcase <=> b.to_s.downcase }.each do |tag, articles| %>
				<% if data['tags'][tag.to_sym] %>
			<dd><a href="<%= url_for tag_path(tag) %>" rel="tag"><%= data['tags'][tag.to_sym][:name] %></a></dd>
				<% else %>
			<dd><%= link_to tag, tag_path(tag), rel: 'tag' %></dd>
				<% end %>
			<% end %>
		</dl>
		<% end %>
		<link property="rdfa:copy" href="#ccpattern" />
	</header>
	<%= table_of_contents(current_page) %>
	<% if current_article.data.summary %>
	<p property="dc:description schema:description"><%= current_article.data.summary %></p>
	<% end %>
	<%= yield %>
	<%= partial 'layouts/partials/footer' %>
</main>
<% if current_article.previous_article || current_article.next_article %>
<ol class="post-navigation">
<% end %>
	<% prev_article = current_article.previous_article %>
	  <% if prev_article %>
	<li class="prev">Previous: <a href="<%= prev_article.url %>" rel="prev" accesskey="p" title="Previous article: <%= prev_article.title %>"><%= prev_article.title %></a></li>
	  <% end %>
	<li><a href="<%= url_for "/archives.xhtml" %>">All articles</a></li>
	<% next_article = current_article.next_article %>
	  <% if next_article %>
			<li class="next">Next: <a href="<%= next_article.url %>" rel="next" accesskey="n" title="Next article: <%= next_article.title %>"><%= next_article.title %></a></li>
	  <% end %>
<% if current_article.previous_article || current_article.next_article %>
</ol><!--End post navigation-->
	<% end %>
<% end %>