<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="<%= url_for "/stylesheets/visual.css" %>" media="print,screen"?>
<?xml-stylesheet href="<%= url_for "/stylesheets/print.css" %>" media="print"?>
<?xml-stylesheet href="<%= url_for "/stylesheets/screen.css" %>" media="screen"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb-oxendict">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= current_resource.data.title + "—" unless current_resource.data.title.nil? %><%= @title + '—' unless @title.nil? %><%= data.settings.site.name %></title>
		<link rel="bookmark canonical" href="<%= data.settings.site.base_url %><%= current_page.path %>" />
		<link property="rdfa:copy" href="#ccpattern" />
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/atom.xml", title: "Atom Feed" %>
	</head>
	<body>
  		<a href="#nav_main">Skip to main content</a>
		<div role="banner">
			<dl>
		<% if current_page.path == 'index.xhtml' %>
				<dt property="dc:title" xml:lang="ga"><%= data.settings.site.name %></dt>
		<% else %>
				<dt xml:lang="ga"><a href="<%= url_for '/index.xhtml' %>"><%= data.settings.site.name %></a></dt>
		<% end %>
				<dd
			<% if current_page.path == 'index.xhtml' %>
				 property="dc:description"
			<% end %>
				><%= data.settings.site.description %></dd>
			</dl>
			<div role="navigation">
				<ol>
				<% if current_page.path == 'index.xhtml' %>
					<li>Home</li>
				<% else %>
					<li><a href="<%= url_for '/index.xhtml' %>" accesskey="1">Home</a></li>
				<% end %><!--End of home link-->
				<% if current_page.path == 'archives.xhtml' %>
					<li>Archives</li>
				<% else %>
					<li><a href="<%= url_for '/archives.xhtml' %>">Archives</a></li>
				<% end %><!--End of archive link-->
					<li><a href="#nav_copyright" accesskey="6">Copyright</a></li>
					<li><a href="#nav_accesskeys" accesskey="k">Access keys</a></li>
					<li><a href="<%= blog.options.prefix.to_s %>/atom.xml" rel="alternate" accesskey="f">Web feed</a></li>
					<% if current_page.path == "colophon.xhtml" %>
					<li>Colophon</li>
				<% else %>
					<li><a href="<%= url_for "/colophon.xhtml" %>">Colophon</a></li>
				<% end %><!--End of archive link-->
				</ol>
			</div><!--End of ‘navigation’ role-->
		</div><!-- end of ‘banner’ role -->
      <%= yield %>
	</body>
</html>