<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb-oxendict">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
	</head>
	<body>
		<div id="main" role="main">
      <%= yield %>
		</div>
		<aside>
			<h2>Recent Articles</h2>
			<ol>
				<% blog.articles[0...10].each do |article| %>
				<li><%= link_to article.title, article %>—<time datetime="<%= article.date.strftime("%F") %>"><%= article.date.strftime("%A ") + ordinal(article.date.strftime("%e")) + article.date.strftime("&#160;%B,&#160;%Y") %></time></li>
        <% end %>
			</ol>
			<h2>Tags</h2>
			<ol>
				<% blog.tags.each do |tag, articles| %>
				<li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
				<% end %>
			</ol>
      		<h2>By Year</h2>
      		<ol>
				<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
				<li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        		<% end %>
			</ol>
		</aside>
		<footer>This document was last modified on <time datetime="<%= File.mtime(current_page.source_file).iso8601 %>"><%= File.mtime(current_page.source_file).strftime("%A ") + ordinal(File.mtime(current_page.source_file).strftime("%e")) + File.mtime(current_page.source_file).strftime("&#160;%B,&#160;%Y") %> at <%= File.mtime(current_page.source_file).strftime("%H:%M") + " (" + Time.zone.name + ")" %></time></footer>
	</body>
</html>