<footer>
	<p id="nav_copyright">Copyright © <time>1994</time>–<time><%= Date.today.strftime('%Y') %></time> <a href="https://github.com/<%= data.settings.author.github %>" property="cc:attributionURL" rel="author"><span property="cc:attributionName dc:creator"><%= data.settings.author.name %></span></a>. Unless otherwise indicated, this document (and all of its contents) is licensed under a <a href="<%= data.settings.CClicence.url %>" rel="license" property="cc:license dc:license schema:license" accesskey="5"><%= data.settings.CClicence.name %></a>.</p>
	<p>This document was last modified on <time property="dc:modified" datetime="<%= File.mtime(current_page.source_file).iso8601 %>"><%= File.mtime(current_page.source_file).strftime("%A ") + ordinal(File.mtime(current_page.source_file).strftime("%e")) + File.mtime(current_page.source_file).strftime("&#160;%B,&#160;%Y") %> at <%= File.mtime(current_page.source_file).strftime("%H:%M") + " (" + Time.zone.name + ")" %></time></p>
	<address><a href="https://twitter.com/<%= data.settings.author.twitter %>">Follow me on <em>Twitter</em></a>. <a href="https://github.com/<%= data.settings.author.github %>">Find me on <em>Github</em></a>.</address>
	<table id="nav_accesskeys">
		<caption>This page makes use of the following <code>accesskey</code> shortcuts:</caption>
		<thead>
			<tr>
				<th>Location</th>
				<th>Access Key</th>
			</tr>
		</thead>
		<tbody>
		<% unless current_page.path == 'index.xhtml' %>
			<tr>
				<th>Home</th>
				<td><code>1</code></td>
			</tr>
		<% end %>
			<tr>
				<th>Licence</th>
				<td><code>5</code></td>
			</tr>
			<tr>
				<th>Copyright</th>
				<td><code>6</code></td>
			</tr>
			<tr>
				<th>Access Keys</th>
				<td><code>k</code></td>
			</tr>
		<% if current_article %>
			<% if current_article.previous_article %>
			<tr>
				<th>Previous article</th>
				<td><code>p</code></td>
			</tr>
			<% end %>
		<% end %>
		<% if current_article %>
			<% if current_article.next_article %>
			<tr>
				<th>Next article</th>
				<td><code>n</code></td>
			</tr>
			<% end %>
		<% end %>
		</tbody>
	</table>
	<p>This page is authored in, <em>hopefully</em>, <a href="https://validator.nu/?doc=<%= CGI.escape(data.settings.site.base_url + current_page.url) %>&amp;showsource=yes&amp;showoutline=yes" rel="nofollow" accesskey="v" >well-formed <abbr title="eXtensible Hypertext Mark-up Langauge" class="initialism">X.H.T.M.L.</abbr></a> (the validator link is so that I can occasionally check on the mark-up).</p>
</footer>